[submodule "sdk"]
	path = sdk
	url = https://github.com/bitty-terminal/bitty-plugin-sdk
[submodule "template"]
	path = template
	url = https://github.com/bitty-terminal/bitty-plugin-template
[submodule "plugins/activity"]
	path = plugins/activity
	url = https://github.com/bitty-terminal/activity
[submodule "docs"]
	path = docs
	url = https://github.com/bitty-terminal/bitty-plugins-docs
	branch = main
[submodule "plugins/palette"]
	path = plugins/palette
	url = https://github.com/bitty-terminal/palette
